# Generador de base de datos

In [1]:
# Import de librerias necesarias
import random
import names

### Escogencia de parámetros para generar la DB

In [70]:
# Numero de clientes
N = 10

# Numero de clientes con préstamo, debe ser menor a N
N_prestamo = 3

# Numero de clientes con CDP, debe ser menor a N
N_cdps = 4

# Fijado de tasas de interes, puede ser una o varias, python va a seleccionar una al azar
tasas_cdps = [0.12]
tasas_hipotecario = [0.08]
tasas_personal = [0.1]
tasas_prendarios = [0.15]
tasas_cuentas = [0.01]

# Arrays usados para definir tipos
denominacion = ["colones", "dolares"]
tipo_prestamo = ["prendario", "personal", "hipotecario"]

# Montos permitidos
prestamo_hipotecario = [60000000]
prestamo_prendario = [2000000]
prestamo_personal = [5000000]
montos_deposito = [1000000]

# Plazos permitidos
plazos_hipotecario = [60]
plazos_prendario = [5]
plazos_personal = [12]
plazos_cdp = [30]

# Tipo de cambio
tipo_de_cambio = 512

### Generador de numeros de cedula, nombres y apellidos

In [42]:
# numeros de cedula
def generar_lista_clientes(cantidad):
    clientes_set = set()
    while len(clientes_set) < cantidad:
        nuevo_cliente = random.randint(100000000, 999999999)
        clientes_set.add(nuevo_cliente)
    clientes = list(clientes_set)
    return clientes

clientes = generar_lista_clientes(N)
print(clientes)

# nombres y apellidos
def generar_listas_de_nombres(cantidad):
    nombres = [names.get_first_name() for _ in range(cantidad)]
    apellidos = [names.get_last_name() for _ in range(cantidad)]
    return nombres, apellidos

nombres, apellidos = generar_listas_de_nombres(N)
print(nombres)
print(apellidos)

[891435200, 949435235, 732194468, 228849575, 813166556, 326823600, 114819158, 456251480, 409975644, 544018749]
['Richard', 'Doris', 'Mildred', 'Michael', 'Christopher', 'Effie', 'Jennifer', 'Nathan', 'Edward', 'Lorraine']
['Hatcher', 'Tucker', 'Apple', 'Pena', 'Lambert', 'Gibney', 'Vargas', 'Parks', 'Kruger', 'Ryan']

### Escoger clientes con prestamos y cdps

In [43]:
# Genera la lista de clientes con prestamos
def generar_lista_prestamos(N, N_prestamo):
    lista = [0] * N
    suma_actual = 0
    
    while suma_actual < N_prestamo:
        indice = random.randint(0, N - 1)
        if lista[indice] < 2:
            lista[indice] += 1
            suma_actual += 1
    
    return lista
lista_prestamos = generar_lista_prestamos(N, N_prestamo)
print(lista_prestamos)
# Lo mismo pero para clientes con cdps
def generar_lista_cdps(N, N_cdps):
    lista = [0] * N
    suma_actual = 0
    
    while suma_actual < N_cdps:
        indice = random.randint(0, N - 1)
        if lista[indice] < 2:
            lista[indice] += 1
            suma_actual += 1
    
    return lista
lista_cdps = generar_lista_cdps(N, N_prestamo)
print(lista_cdps)

[0, 0, 0, 0, 0, 1, 0, 1, 1, 0]
[0, 0, 1, 0, 0, 0, 1, 0, 0, 1]

### Generador de inserts para la tabla cuentas

In [44]:
# Generar los inserts para la tabla cuentas
insert_sql = '  const char *inserts_sql = '
for cliente in clientes:
    for den in denominacion:
        numero_cuenta = int(f"{1 if den == 'colones' else 2}{cliente}")
        balance = round(random.uniform(0, 100000000), 2)
        tasa = random.choice(tasas_cuentas)
        insert_sql += f'    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"\n'
        insert_sql += f'    "VALUES ({numero_cuenta}, {balance}, {tasa}, \'{den}\');"\n'

insert_sql += ' ;'

# Imprimir el resultado
print(insert_sql)

  const char *inserts_sql =     "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1891435200, 87037015.99, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2891435200, 85426636.52, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1949435235, 92739879.58, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2949435235, 21569505.56, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1732194468, 74430870.91, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2732194468, 6279783.57, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1228849575, 70876106.31, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2228849575, 24007097.88, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1813166556, 45342690.52, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2813166556, 3397091.51, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1326823600, 60747940.15, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2326823600, 57409544.21, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1114819158, 39301111.41, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2114819158, 44094938.6, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1456251480, 85927372.65, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2456251480, 48028733.88, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1409975644, 19080612.1, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2409975644, 66519468.19, 0.01, 'dolares');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (1544018749, 97889957.9, 0.01, 'colones');"
    "INSERT INTO cuentas (numero_cuenta, balance, tasa, denominacion)"
    "VALUES (2544018749, 47827464.59, 0.01, 'dolares');"
 ;

### Generar inserts para tabla clientes

In [56]:
# Función para generar los inserts SQL
def generar_inserts_clientes(clientes, nombres, apellidos):
    inserts_sql = []

    for i in range(len(clientes)):
        cedula = clientes[i]
        nombre = nombres[i]
        apellido = apellidos[i]
        cuenta_colones = int('1' + str(cedula)) 
        cuenta_dolares = int('2' + str(cedula))  

        insert_sql = (
            f'        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)" \n'
            f'        "VALUES ({cedula}, \'{nombre}\', \'{apellido}\', {cuenta_colones}, {cuenta_dolares});"'
        )
        inserts_sql.append(insert_sql)
    return inserts_sql

inserts_clientes = generar_inserts_clientes(clientes, nombres, apellidos)
for insert_sql in inserts_clientes:
    print(insert_sql)

        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (891435200, 'Richard', 'Hatcher', 1891435200, 2891435200);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (949435235, 'Doris', 'Tucker', 1949435235, 2949435235);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (732194468, 'Mildred', 'Apple', 1732194468, 2732194468);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (228849575, 'Michael', 'Pena', 1228849575, 2228849575);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (813166556, 'Christopher', 'Lambert', 1813166556, 2813166556);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (326823600, 'Effie', 'Gibney', 1326823600, 2326823600);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (114819158, 'Jennifer', 'Vargas', 1114819158, 2114819158);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (456251480, 'Nathan', 'Parks', 1456251480, 2456251480);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (409975644, 'Edward', 'Kruger', 1409975644, 2409975644);"
        "INSERT INTO clientes (cedula, nombre, apellido, cuenta_colones, cuenta_dolares)"
        "VALUES (544018749, 'Lorraine', 'Ryan', 1544018749, 2544018749);"

### Inserts para prestamos

In [78]:
# Genera inserts para tabla de prestamos
def generar_inserts_prestamos(clientes, lista_prestamos, tipo_de_cambio):
    inserts_sql = []
    prestamo_id = 1

    for i in range(len(clientes)):
        cedula = clientes[i]
        num_prestamos = lista_prestamos[i]

        for _ in range(num_prestamos):
            denominacion_seleccionada = random.choice(denominacion)
            tipo_seleccionado = random.choice(tipo_prestamo)

            if tipo_seleccionado == "prendario":
                monto_total = random.choice(prestamo_prendario)
                plazo = random.choice(plazos_prendario)
                tasa_prestamo = random.choice(tasas_prendarios)
            elif tipo_seleccionado == "personal":
                monto_total = random.choice(prestamo_personal)
                plazo = random.choice(plazos_personal)
                tasa_prestamo = random.choice(tasas_personal)
            elif tipo_seleccionado == "hipotecario":
                monto_total = random.choice(prestamo_hipotecario)
                plazo = random.choice(plazos_hipotecario)
                tasa_prestamo = random.choice(tasas_hipotecario)

            cuota_mensual = monto_total / plazo
            cuota_mensual = round(cuota_mensual,2)
            plazo_meses = random.randint(1, plazo)

            if denominacion_seleccionada == "dolares":
                monto_total /= tipo_de_cambio  
                monto_total = round(monto_total,2)

            insert_sql = (
                f'        "INSERT INTO prestamos (prestamo_id, denominacion, tipo, monto_total, plazo_meses, cuota_mensual, tasa, cliente_id)" \n'
                f'        "VALUES ({prestamo_id}, \'{denominacion_seleccionada}\', \'{tipo_seleccionado}\', {monto_total}, {plazo_meses}, {cuota_mensual}, {tasa_prestamo}, {cedula});"'
            )
            inserts_sql.append(insert_sql)

            prestamo_id += 1

    return inserts_sql

inserts_prestamos = generar_inserts_prestamos(clientes, lista_prestamos, tipo_de_cambio)
for insert_sql in inserts_prestamos:
    print(insert_sql)

        "INSERT INTO prestamos (prestamo_id, denominacion, tipo, monto_total, plazo_meses, cuota_mensual, tasa, cliente_id)"
        "VALUES (1, 'colones', 'prendario', 2000000, 5, 400000.0, 0.15, 326823600)"
        "INSERT INTO prestamos (prestamo_id, denominacion, tipo, monto_total, plazo_meses, cuota_mensual, tasa, cliente_id)"
        "VALUES (2, 'colones', 'personal', 5000000, 10, 416666.67, 0.1, 456251480)"
        "INSERT INTO prestamos (prestamo_id, denominacion, tipo, monto_total, plazo_meses, cuota_mensual, tasa, cliente_id)"
        "VALUES (3, 'dolares', 'hipotecario', 117187.5, 13, 1000000.0, 0.08, 409975644)"

### Inserts para cdps

In [79]:
def generar_inserts_certificados_de_deposito(clientes, lista_cdps):
    inserts_sql = []
    cdp_id = 1

    for i in range(len(clientes)):
        cedula = clientes[i]
        num_cdps = lista_cdps[i]

        for _ in range(num_cdps):
            denominacion_seleccionada = random.choice(denominacion)
            monto_deposito = random.choice(montos_deposito)
            plazo = random.choice(plazos_cdp)
            plazo_meses = random.randint(1, plazo)

            if denominacion_seleccionada == "dolares":
                monto_deposito /= 512  # Dividir monto deposito por 512 si la denominación es dólares
                monto_deposito = round(monto_deposito,2)

            insert_sql = (
                f'        "INSERT INTO certificados_de_deposito (cdp_id, denominacion, tasa, plazo_meses, monto_deposito, cliente_cedula)" \n '
                f'        "VALUES ({cdp_id}, \'{denominacion_seleccionada}\', {random.choice(tasas_cdps)}, {plazo_meses}, {monto_deposito:.2f}, {cedula});"'
            )
            inserts_sql.append(insert_sql)

            cdp_id += 1
    
    # Añadir punto y coma al final del último insert
    inserts_sql[-1] += ';'

    return inserts_sql

# Ejemplo de uso
inserts_cdps = generar_inserts_certificados_de_deposito(clientes, lista_cdps)
for insert_sql in inserts_cdps:
    print(insert_sql)

        "INSERT INTO certificados_de_deposito (cdp_id, denominacion, tasa, plazo_meses, monto_deposito, cliente_cedula)"
         "VALUES (1, 'colones', 0.12, 5, 1000000.00, 732194468);"
        "INSERT INTO certificados_de_deposito (cdp_id, denominacion, tasa, plazo_meses, monto_deposito, cliente_cedula)"
         "VALUES (2, 'colones', 0.12, 10, 1000000.00, 114819158);"
        "INSERT INTO certificados_de_deposito (cdp_id, denominacion, tasa, plazo_meses, monto_deposito, cliente_cedula)"
         "VALUES (3, 'dolares', 0.12, 13, 1953.12, 544018749);";